.cart {
    display: flex;
    width: 90%;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    

}
.title{
  background: #b0e0bf;
  width: 30%; 
}
.price{
  background: #e7f5db;
  width: 10%; 
}
.qty{
  background: #84a3f8;
  width: 15%; 
  
  

  button{
    background-image: linear-gradient(160deg, #8ceabb 0%, #378f7b 100%);
    color: rgb(247, 242, 242);
    border-radius: 15%;
    text-align: center;
    width: 90%;
    margin-top: 10%;

  }
  button:hover {
    color: rgb(14, 13, 13);
  }

  input {
    color: transparent;
    text-shadow: 0 0 0 #00060a;
    &:focus {
        outline: none;
    }
  }
}