.navbar-custom {
    .headerbook {
      color: rgb(255, 255, 255);
      text-decoration: none;
      font-size: 22px;
    }
    background-color: rgb(4, 136, 4);
  
    .navbar-brand {
      margin-left: 25px;
      margin-right: 35px;
      font-size: 16px;
      color: rgb(255, 255, 255);
    }
    .items{
      
      color: #ff0000;
      font-weight: 600;
     
font-size: 14px;
background-color: #f9fafc;
//background-size: 20px 20px;
//background-repeat:no-repeat;
background-position:2px;
padding: 4px;
border-radius: 50%;;
//border: 1px solid red;
//padding-left: 25px;
//position:relative;
  
    }
  }
