<button class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
<h2>Book Store</h2>
<form novalidate (ngSubmit)="createToken()" [formGroup]="stripeForm">
    <ngx-stripe-card
      [options]="cardOptions"
      [elementsOptions]="elementsOptions"
    ></ngx-stripe-card>
    <textarea class = "form-control" [(ngModel)]="description" [ngModelOptions]="{standalone: true}" type="text" placeholder="Order description" maxlength="215"></textarea><br>
    <button type="submit">
      Pay {{total}}$
    </button>
  </form>
 