<div class="edition-profile">
    <div class="pic">
        <img src="https://freepngimg.com/thumb/book/5-red-book-png-image-image.png" width="90%" height="90%">
    </div >
    <div class="edition">
        <ng-container *ngIf="edition$ | async as edition">
            <h3>{{edition.title}}</h3>
            <a>Authors:</a>
            <div class="authos-list" *ngFor="let author of edition.authorModels, let i = index">
                <li>{{author.name}}</li>
            </div>
            <br><a>Description:</a>
            <div class = "description">
                <p>{{edition.description}}</p>
            </div>   
        </ng-container>
    </div>
    <div class class="actions">
        <a> Qty: </a>
        <input  class="price-input" type="number" min="1" step="1" onkeydown="return false" value="1" [(ngModel)]="editionQty">
        <ng-container *ngIf="edition$ | async as edition">
            <ng-container *ngIf="edition.price !== null">
            <a class="price">$ {{edition.price * editionQty}}</a>
        </ng-container>
        </ng-container> 
        <br><button (click)="addToCart()">Add to cart</button>
    </div>
</div>
